@import url('https://fonts.googleapis.com/css?family=Archivo');

$font: 'Archivo', sans-serif;

/* for all */

body {
	background-color: black;
	color: white;
	font-family: $font;
}

/* for title */

.band {
	color: red;
	text-decoration: underline;
}

/*for text */

.text {
	font-family: $font;
	margin: 0 auto;
	white-space: pre-line;
}

/*helpers*/

.center {
	text-align: center;
}